<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="title">LOGIN APP</h1>
    </div>
    <div class="col-lg-12 form-group">
      <label for="">Welcome</label>
      <%= link_to current_user.name, user_path(current_user) %>
    </div>
    <%= simple_form_for :search, url: users_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, input_html: {value: ""} %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
    <div class="col-lg-12 form-group">
      <label for="">List Users</label>
      <table class="table">
        <thead>
          <th>ID</th>
          <th>User Name</th>
          <th>Email </th>
          <th>Create Date</th>
        </thead>
        <tbody>
          <%= render @users %>
          <%= paginate @users, theme: 'twitter-bootstrap-3'%>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <h4>Import data</h4>
    <%= form_tag import_users_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
  </div>
</div>